*{
	background-color: #585450;
	color: white;
}
h3 ul li{
	list-style-type: circle;
	text-align: justify;
}

.conteneur{
	width: 100%;
	max-width: 960px;
	padding: 10px;
	margin: 15px;
	display: inline-block;
}
#profil{
	margin-right: 10px;
	width: 100px;
	height: 100px;
	border-radius: 50%;
}


header{
	display: inline-block;
}
#header{
	display: inline-block;
}
#for,#amb,#exp{
	display: inline-block;
	width: 275px;
	max-width: 100%;
	color:grey;
	vertical-align: top;
	padding: 10px;
	position: relative;
}
#coor{
	display: inline-block;
	position: absolute;
	color: red;
	right: 750px;
}
#map{
	display: inline-block;
	height: 50%;
	left: 0px;
	position: absolute;
	margin: 30px;

}